body {
  font-family: Arial, Helvetica, sans-serif;
  background: #0b1d2a;
  color: #ffffff;
  text-align: center;
  padding: 20px;
}

h1 {
  margin-bottom: 30px;
}

#datos {
  background: #132f44;
  padding: 20px;
  border-radius: 10px;
  display: inline-block;
}

p {
  font-size: 1.2em;
}

#estado {
  margin-top: 20px;
  color: #cccccc;
}

form {
  margin-top: 30px;
  display: inline-block;
  text-align: left;
  background: #132f44;
  padding: 15px;
  border-radius: 8px;
}

form label {
  display: block;
  margin-top: 10px;
}

form input {
  width: 100%;
  padding: 5px;
  margin-top: 5px;
  border-radius: 5px;
  border: none;
}

form button {
  margin-top: 15px;
  padding: 10px 20px;
  background-color: #0b1d2a;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
